{% include 'header.html' %}
        <!-- Custom styles for this template -->
        <link href="static/css/contact.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <body class="text-center">
        <main class="form-signin">
            <form method='post'>
                <h2 class="login-logo">Dark Chat</h2>
                <h4 class='what-is-this-page'>Contact me</h4>
                <div class="form-floating">
                    <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        placeholder="Email@Email.Com"
                        name='email'
                    />
                    <label for="floatingInput">Email Adress</label>
                </div>
                <div class="form-floating">
                    <input
                        type="string"
                        class="form-control"
                        id="floatingInput"
                        placeholder="David Beckham"
                        name='fullname'
                    />
                    <label for="floatingInput">Fullname</label>
                </div>
                <div class="mb-3">
                    <!-- <label for="exampleFormControlTextarea1" class="form-label">Enter your message</label> -->
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Enter your message" name='contact-msg'></textarea>
                  </div>

                

                <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" /> Remember
                        me
                    </label>
                </div> -->
                <br>
                <button class="w-100 btn btn-lg btn-dark" type="submit">
                    Send
                </button>
                <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            </form>
        </main>
    </body>
</html>
