{% include 'header.html' %}
<link href="static/css/mainpage_by_me.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap"
    rel="stylesheet"
/>
<body>
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} {% for category, message in messages %} {% if
                category == 'error' %}
                <div
                    class="alert alert-danger alert-dismissable fade show"
                    role="alert"
                >
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div
                    class="alert alert-success alert-dismissable fade show"
                    role="alert"
                >
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %} -->
<div class="row card-chat">
    <div class="card border border-3 border-bottom-0 rounded-top"> 
        <div class="card-body chat-box scroll"">
            <p class="card-text">
                {% for message in messages %}
                {% if user.nickname == message[1] %}
                <!-- added row and col-6 so sender text would be right aliigned -->
                <div class='row'>
                    <div class='col-6'>
                    </div>
                <div class="card rounded-3 sender-text w-50 col-6 text-end">
                    <div class="card-body message-box">
                        <div class='sender'><strong>{{ message[1] }}</strong></div>
                        <span class='datetime-you'>{{ message[2] }}</span>
                        <span class='message-content-you'>{{ message[0] }}</span>
                    </div>
                  </div>
                </div>
                  {% else %}
                <div class="card rounded-3 w-50 card-content">
                    <div class="card-body message-box">
                        <div class='sender'><strong>{{ message[1] }}</strong></div>
                        <span class='message-content'>{{ message[0] }}</span>
                        <span class='datetime'>{{ message[2] }}</span>
                    </div>
                  </div>
                  {% endif %}
                <br />
                {% endfor %}
            </p>

            
        </div>
    </div>
    <div class="card border-3 border-top-0 rounded-bottom send-msg-form">
        <form class="row form-button" action="{{ url_for('views.home') }}" method="post">
            <div class="col-lg-11">
                <input
                    type="message"
                    class="form-control message-input rounded-pill"
                    id="Message-box"
                    placeholder="Type a message"
                    name='message'
                />
            </div>
            <div class="col-lg-1">
                <button
                    type="submit"
                    class="btn btn-outline-dark mb-3 send-message-btn"
                >
                    <img src="static\images\send.png"
                    width="25"
                    height="=25">
                </button>
        </div>
        </form>
    </div>
</div>
</body>